@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap");

body {
  margin: 0;
}

.home-page {
  background: linear-gradient(
      136deg,
      rgb(68, 132, 206),
      rgb(26, 215, 192),
      rgb(255, 155, 17),
      rgb(155, 89, 182),
      rgb(255, 127, 127),
      rgb(236, 240, 241)
    )
    0% 0% / 1200% 1200%;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: xx-large;
  text-overflow: wrap;
  margin-top: -50px;
  text-align: center;
  animation: animate 50s ease infinite;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 100;
  color: beige;
  margin: 0;
}

.content {
  display:grid;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  color: beige;
  margin-top: -20px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-me-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: solid white 2px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
  font-size: 20px;
  text-decoration: none;
}

.social-media a {
    color: #fff;
}

.social-media a:hover {
    color: #000;
}

@media (width < 600px) {
  .name {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}

@keyframes animate{
  0%{
    background-position:0 50%;
  }
  50%{
    background-position:100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}